body{
  font-family:Garamond;
  background-color:rgb(242,187,187);
}

#top h1{
  color:rgb(242,92,147);
  font-size: 40px;
  text-align: center;
}

#top h5{
  color:rgb(36,28,64);
  font-family:Verdana;
  font-size: 18px;
  text-align: center;
}

#top img{
  width:40vw;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#button h5{
  border: solid 3px;
  color:rgb(242,232,220);
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}

#intro{
  font-family:Verdana;
  text-align: center;
  color:rgb(242,92,147);
}

#facts h3{
  font-family:Garamond;
  font-size: 28px;
  margin-left:60px;
  color:rgb(36,28,64);
}

#facts ul{
  font-family:Verdana;
  font-size:14px;
  margin-left:80px;
  color:rgb(242,121,143);
}

#goals h3{
  font-family:Garamond;
  font-size: 28px;
  margin-left:60px;
  color:rgb(36,28,64);
}

#goals ol{
  font-family:Verdana;
  font-size: 14px;
  margin-left:80px;
  color:rgb(242,121,143);
}


  /* color:rgb(242,232,220); */
    /* color:rgb(242,121,143); */
