body{
  background-color: rgb(91,133,170);
  margin-left:10vw;
  margin-right:10vw;
}

h1{
  font-family:"Contrail One";
  font-size: 48px;
  text-align: center;
  border: solid rgb(242,187,187) 12px;
}

img{
  width:30vw;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

h2{
  font-family:"Contrail One";
  font-size:30px;
}

p{
  font-family:"Barlow";
  font-size: 20px;
}

ul{
  font-family:"Barlow";
}

.c1{
  color: rgb(242,121,143);
}

.c2{
  color: rgb(242,92,147);
}

.c3{
  color: rgb(36,28,64);
}

.c4{
  color: rgb(242,232,220);
}

.c5{
  color: rgb(242,187,187);
}

#first{
  border:solid rgb(36,28,64) 2px;
}

#second{
  border:solid rgb(242,92,147) 2px;
}

#third{
  border:solid rgb(242,232,220) 2px;
}

#first1{
  border:solid rgb(36,28,64) 2px;
}

#second2{
  border:solid rgb(242,92,147) 2px;
}

#third3{
  border:solid rgb(242,232,220) 2px;
}

#b1{
  background-color: rgb(36,28,64);
  font-family:'Open Sans Condensed';
  border-radius: 26px;
  padding: 3px 68px;
  font-size: 20px;
  color: rgb(242,187,187);
  margin: 30px;
}

#b2{
  background-color: rgb(242,92,147);
  font-family:'Open Sans Condensed';
  border-radius: 26px;
  padding: 3px 48px;
  font-size: 20px;
  color: rgb(242,232,220);
  margin: 30px;
}

#b3{
  background-color: rgb(242,187,187);
  font-family:'Open Sans Condensed';
  border-radius: 26px;
  padding: 3px 68px;
  font-size: 20px;
  color: rgb(242,92,147);
  margin: 30px;
}

#box{
  background-color: rgb(250,250,250);
  margin-left:100px;
  margin-right:630px;
}

#text{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 460px; 
  font-family:'Open Sans Condensed';
  font-size: 28px;
  margin: 5px 15px;
}

.border{
  background-color: rgb(242,187,187);
  color: rgb(242,92,147);
  border-top: solid rgb(36,28,64) 2.5px;
  border-left: solid rgb(36,28,64) 2.5px;
  border-bottom: solid rgb(36,28,64) 2.5px;
  border-right: solid rgb(36,28,64) 2.5px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#bottom{
  text-align: center;
}
