body{
  background-color: rgb(255, 232, 214);
}

#tabs{
display: flex;
margin: 25vh 10vw 0 10vw;
}

#items{
  display: flex;
  margin: 0vh 10vw 0 10vw;
  padding-top: 40px;
  border: solid rgb(221, 190, 169) 4px;
  border-top: none;
}

.meals{
flex-grow: 1;
background-color: rgb(183, 183, 164);
width: auto;
border: solid rgb(221, 190, 169) 4px;
}

#image, .menu{
  flex-grow: 1;
  width: auto;
  background-color: rgb(107, 112, 92);
}

h2{
  margin-top: 25px;
  padding-bottom: 0;
  font-size: 1.8em;
}

h3, h4{
  padding-right: 300px;
  padding-left:
}

#lunchmenu, #dinnermenu{
  display: none;
}

.active{
  background-color: rgb(165, 165, 141);
  border-bottom: none;
}

img{
  max-width: 60%;
  max-height: 60%;
  object-fit: cover;
  display: block;
  margin: auto;
  padding-top: 50px;
  /* object-position: 20% 10%; */
}
