#body{
  background-color: #F0EFEB;
}

#intro{
  display: flex;
}

#top{
  flex-grow: 1;
}

#top h1{
  font-family: "Cormorant Garamond";
  font-size: 78px;
  margin-left: 8vw;
  margin-bottom: 5px;
  color: #2A2B2A;
}

#top h4{
  font-family: "Manrope";
  font-size: 24px;
  color: #CB997E;
  margin-left: 290px;
  margin-bottom: 120px;
}

#image{
  flex-grow: 1;
}

#image img{
  /* flex-grow: 1; */
  width:30vw;
  display:block;
  margin: auto;
  padding-right: 50px;
  margin-top: 120px;
 }

 .menu nav{
  border-bottom: solid #626868 1px;
  margin-right: 120px;
  margin-left: 60px;
}

.menu a{
  font-family: "Manrope";
  font-size: 18px;
  color: #626868;
  padding: 10px 38px;
  text-decoration: none;
  margin-left: 14px;
}

#about{
  display: flex;
}

#label p{
  flex-grow: 1;
  font-family: "Manrope";
  font-size: 18px;
  color: #CB997E;
  margin-top: 150px;
  margin-left: 80px;
  writing-mode: vertical-lr;
}

#text p{
  flex-grow: 4;
  text-align: center;
  margin-left:80px;
  margin-top: 100px;
  margin-right: 120px;
  font-family: "Manrope";
  font-size: 18px;
  color: #2A2B2A;
}

#more{
   display: flex;
   margin: 100px 60px 60px 60px;
 }

 #moretext p{
   flex-grow: 4;
   font-family: "Manrope";
   font-size: 18px;
   color: #2A2B2A;
   margin-right: 30px;
 }

 #MORE p{
   flex-grow:1;
   font-family: "Manrope";
   font-size: 18px;
   color: #CB997E;
   margin-right: 25px;
   margin-top: 40px;
   writing-mode: vertical-lr;
 }

 #introimgs{
   background-color: #EDDCD2;
 }

 /* #introimgs img{
   margin-left: 20%;
   padding: 80px;
   width: 50vw;
 } */

 #resume{
  background-color: #F0EFEB;
 }

 #res p{
   font-family: "Manrope";
   font-size: 14px;
   margin-left: 80%;
   padding-top: 20px;
 }

 #res h3{
   font-family: "Manrope";
   font-size: 20px;
   margin-left: 120px;
 }

 #stuff{
  background-color: #626868;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
 }

 #stuff h2{
   font-family: "Cormorant Garamond";
   font-size: 48px;
   margin-left: 34%;
   color: #DDBEA9;
   padding-top: 20px;
   margin-bottom: 10px;
 }

 #within{
   display: flex;
 }

 #left{
   flex-grow: 1;
   margin-left: 60px
 }

 #aboutme {
  font-family: "Manrope";
  font-size: 20px;
  color: #CB997E;
  margin-left: 300px;
}

#one div{
  padding: 5px;
}

#tele{
  display: flex;
  flex-wrap: wrap;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
  /* margin-left: 20px; */
}

#number {
  margin-left: 225px;
}

#email{
  display: flex;
  flex-wrap: wrap;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
  /* margin-left: 20px; */
}

#dres {
  margin-left: 190px;
}

#address{
  display: flex;
  flex-wrap: wrap;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
  /* margin-left: 20px; */
}

#location {
  margin-left: 110px;
}

#two div{
  padding: 5px;
}

#education{
  margin-left: 290px;
  /* margin-left: 300px; */
  font-family: "Manrope";
  font-size: 20px;
  color: #CB997E;
  /* padding-top: 10px */
}

#name{
  font-family: "Cormorant Garamond";
  font-size: 20px;
  color: #DDBEA9;
}

#twenthree{
  margin-left: 315px;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#uni, #uni2{
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#eiwteen{
  margin-left: 315px;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#name2{
  font-family: "Cormorant Garamond";
  font-size: 20px;
  color: #DDBEA9;
}

#high{
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#swenteen {
  margin-left: 350px;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#name3 {
  font-family: "Cormorant Garamond";
  font-size: 20px;
  color: #DDBEA9;
}

#sumsum {
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#skills{
  margin-left: 334px;
  font-family: "Manrope";
  font-size: 20px;
  color: #CB997E;
}

#three div{
  padding: 5px;
}

#skill{
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#five div{
  padding: 2px;
}

#references {
  margin-left: 280px;
  font-family: "Manrope";
  font-size: 20px;
  color: #CB997E;
}

#M{
  display: flex;
  flex-wrap: wrap;
}

#mary {
  font-family: "Cormorant Garamond";
  font-size: 18px;
  color: #DDBEA9;
}

#numnum {
  margin-left: 210px;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#job {
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#T{
  display: flex;
  flex-wrap: wrap;
}

#tiff {
  font-family: "Cormorant Garamond";
  font-size: 18px;
  color: #DDBEA9;
}

#numnum2 {
  margin-left: 75px;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#job2 {
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#L{
  display: flex;
  flex-wrap: wrap;
}

#laura {
  font-family: "Cormorant Garamond";
  font-size: 18px;
  color: #DDBEA9;
}

#numnum3 {
  margin-left: 75px;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#job3 {
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
  margin-bottom: 100px;
}

 #right{
   flex-grow: 1;
   margin-left: 40px;
   margin-right: 80px;
 }

 #experience {
  font-family: "Manrope";
  font-size: 20px;
  color: #CB997E;
}

#C {
  display: flex;
  flex-wrap: wrap;
}

#como {
  font-family: "Cormorant Garamond";
  font-size: 20px;
  color: #DDBEA9;
}

#yeear {
  margin-left: 240px;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#idid {
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#LA {
  display: flex;
  flex-wrap: wrap;
}

#lacys {
  font-family: "Cormorant Garamond";
  font-size: 20px;
  color: #DDBEA9;
  padding-top: 10px;
}

#time {
  margin-left: 90px;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#ido {
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#PS {
  display: flex;
  flex-wrap: wrap;
}

#sports {
  font-family: "Cormorant Garamond";
  font-size: 20px;
  color: #DDBEA9;
  padding-top: 10px
}

#when {
  margin-left: 110px;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#icould {
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#S {
  display: flex;
  flex-wrap: wrap;
}

#sato {
  font-family: "Cormorant Garamond";
  font-size: 20px;
  color: #DDBEA9;
  padding-top: 10px
}

#here {
  margin-left: 90px;
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#inever {
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#twentyeighteen h1{
  font-family: "Cormorant Garamond";
  font-size: 72px;
  color: #FFF1E6;
  margin-left: 50px;
}

#mennu{
  margin-left: 90px;
  margin-right: 600px;
  padding-bottom: 20px;
  }

  #mennu nav{
    border-bottom: solid #626868 1px;
  }

  #mennu a{
    font-family: "Manrope";
    font-size: 18px;
    color: #FFF1E6;
    padding: 10px 38px;
    text-decoration: none;
  }

#four div{
  padding: 5px;
}

#extras {
  margin-left: 188px;
  font-family: "Manrope";
  font-size: 20px;
  color: #CB997E;
  padding-top: 10px;
}

#extra1 {
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#extra2 {
  font-family: "Manrope";
  font-size: 14px;
  color: #FFF1E6;
}

#rec{
Background-color: #DDBEA9;
}

#letter{
margin-left: 26vw;
padding: 20px;
}

#rap{
background-color: #F0EFEB;
}

#heading h1{
font-family: "Cormorant Garamond";
font-size: 48px;
margin-left: 56vw;
margin-top: 40px;
margin-bottom: 10px;
color: #2A2B2A;
}

#heading p{
font-family: "Manrope";
font-size: 22px;
margin-left: 848px;
margin-bottom: 50px;
color: #2A2B2A;
}

#menuu{
margin-left: 80px;
margin-right: 655px;
padding-bottom: 100px;
}

#menuu nav{
border-bottom: solid #626868 1px;
}

#meenu{
  margin-left: 90px;
  margin-right: 600px;
  padding-bottom: 20px;
}

#meenu nav{
border-bottom: solid #FFF1E6 1px;
}

#meenu a{
font-family: "Manrope";
font-size: 18px;
color: #FFF1E6;
padding: 10px 38px;
text-decoration: none;
}

#sf1{
  font-family: "Cormorant Garamond";
  font-size: 30px;
  color: #DDBEA9;
  margin-left: 55vw;
}

#bigboy{
  display: flex
}

#fall{
  flex-grow: 1;
  padding-right: 40px;
}

#fall p{
  font-family: "Manrope";
  font-size: 18px;
  color: #CB997E;
  writing-mode: vertical-lr;
  margin-left: 60px;
}

#box2{
  flex-grow: 6;
  background-color: #FFF1E6;
  margin-right: 120px;
  padding: 40px;
}

#div1 h5{
  font-family: "Manrope";
  font-size: 20px;
  color: #2A2B2A;
  margin-top: 10px;
}

#div1 img{
  width: 20vw;
  margin-left: 50px;
}

#div1 p{
  font-family: "Manrope";
  font-size: 14px;
  color: #626868;
  padding: 50px;
}

#div2 h5{
  font-family: "Manrope";
  font-size: 20px;
  color: #2A2B2A;
  margin-left: 20px;
}

#Flex{
  display: flex;
}

#div2 img{
  flex-grow: 1;
  width: 20vw;
  margin-left: 40px;
}

#blah{
  flex-grow: 1;
  margin-top: 60px;
}

#div2 h3{
  margin-left: 140px;
  font-family: "Manrope";
  font-size: 18px;
  color: #CB997E;
}

#div2 p{
  margin-left: 40px;
  font-family: "Manrope";
  font-size: 14px;
  color: #626868;
  padding: 50px;
}


#leaf{
  display: flex;
  margin-top: 60px;
}

#leaft{
  flex-grow: 1;
}

#leafi{
  margin-right: 80px;
  flex-grow: 1;
}

#div3 {
  margin-top: 100px;
}

#div3 h5{
  margin-left: 370px;
  font-family: "Manrope";
  font-size: 20px;
  color: #2A2B2A;
}

#div3 img{
  width: 35vw;
  margin-left: 270px;
}

#div3 p{
  padding-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
  font-family: "Manrope";
  font-size: 14px;
  color: #626868;
}

#div4 h5{
  font-family: "Manrope";
  font-size: 20px;
  color: #626868;
}

#blahblah{
  display: flex;
}

#firstimg {
  flex-grow: 1;
}

#otherimgs img{
  flex-grow: 1;
}

#div4 img{
  width: 20vw;
  margin-left: 50px;
}

#sf2{
  font-family: "Cormorant Garamond";
  font-size: 30px;
  color: #DDBEA9;
  margin-left: 55vw;
}

#biggirl{
  display: flex;
}

#spring{
  flex-grow: 1;
}

#spring p{
  font-family: "Manrope";
  font-size: 18px;
  color: #CB997E;
  writing-mode: vertical-lr;
  padding-right: 40px;
  margin-left: 60px;
}

#box3{
  flex-grow: 1;
  background-color: #EDDCD2;
  margin-right: 120px;
  }

  #topthing  h5{
    margin-left: 35vw;
    font-family: "Manrope";
    font-size: 20px;
    color: #626868;
  }

 #topthing img{
    width: 70vw;
    margin-left: 6vw;
  }

  #blueblah{
    display: flex;
  }

  #blueblah p{
    font-family: "Manrope";
    font-size: 14px;
    color: #2A2B2A;
    margin: 40px 20px;
  }

  #AS{
    flex-grow: 1;
    padding-left: 120px;
  }

  #ASt{
    flex-grow: 1;
    padding-right: 120px;
  }

  #blueblahimgs{
    display: flex;
  }

  #blueblahimgs img{
    display: flex;
    width: 25vw;
  }

  #blueone {
    flex-grow: 1;
    padding-left: 220px;
  }

  #bluetwo {
    flex-grow: 1;
    padding-right: 220px;
  }

  #bluethree {
    display: flex;
  }

  #bluethree p{
    font-family: "Manrope";
    font-size: 14px;
    color: #2A2B2A;
    padding: 50px;
  }

  #PrS{
    flex-grwo: 1;
  }

  #PrSt{
    flex-grwo: 1;
  }

  #bluefour {
    display: flex;
  }

  #b4img1 img {
    width: 35vw;
    flex-grow: 1;
  }

  #b4img1 {
    margin-left: 100px;
  }

  #b4img2 img {
    width: 30vw;
    flex-grow: 1;
  }

  #b4img2 {
    margin-left: 20px;
  }

  #materials {
    display: flex;
  }

#materials p{
  font-family: "Manrope";
  font-size: 14px;
  color: #2A2B2A;
  padding: 60px 120px;
}

  #MA{
    flex-grow: 1;
    margin-left: 10px;
  }

  #MAt{
    flex-grow: 1;
  }


#menuu a{
font-family: "Manrope";
font-size: 18px;
color: #626868;
padding: 10px 38px;
text-decoration: none;
}

#box4{
  background-color: #F0EFEB;
  margin-right: 110px;
  margin-left: 118px;
}

#div6 h5{
  padding-top: 40px;
  margin-left: 130px;
  font-family: "Manrope";
  font-size: 20px;
  color: #626868;
}

#div6 img{
  width: 30vw;
  margin-left: 26vw;
 }

 #div6 p{
   font-family: "Manrope";
   font-size: 14px;
   color: #2A2B2A;
   padding: 20px;
 }

 #redblah {
   display: flex;
 }

 #red1 {
   flex-grow: 1;
   margin-left: 80px;
 }

 #red2 {
   flex-grow: 1;
   margin-right: 80px;
 }

 #yellblah {
   display: flex;
 }

 #yell1 {
   flex-grow: 1;
   margin-left: 80px;
 }

 #yell2 {
   flex-grow: 1;
   margin-right: 80px;
   margin-left: 40px;
 }

 #greenblah {
   display: flex;
 }

 #green1 {
   flex-grow: 1;
   margin-left: 80px;
   margin-top: 40px;
 }

 #green2 {
  flex-grow: 1;
   margin-right: 80px;
 }

 #box5{
      background-color: #DDBEA9;
      margin-right: 110px;
      margin-left: 118px;
      }

  #div7 h5{
    font-family: "Manrope";
    font-size: 20px;
    color: #626868;
    padding-top: 40px;
    margin-left: 130px;
  }

  #div7 img{
    width: 40vw;
    margin-left: 21vw;
  }

  #div7 p{
    font-family: "Manrope";
    font-size: 14px;
    color: #2A2B2A;
    padding: 20px;
  }

  #purpblah {
    display: flex;
  }

  #purp1 {
    flex-grow: 1;
    margin-left: 80px;
  }

  #purp2 {
    flex-grow: 1;
    margin-right: 80px;
  }

  #pinkblah {
    display: flex;
  }

  #pink1 {
    flex-grow: 1;
    margin-left: 80px;
  }

  #pink2 {
    flex-grow: 1;
    margin-left: 40px;
    margin-right: 80px;
  }

  #orngblah {
    display: flex;
  }

  #orng1 {
    flex-grow: 1;
    margin-left: 80px;
  }

  #orng2 {
    flex-grow: 1;
    margin-right: 80px;
  }

  #box6{
    background-color: #EDDCD2;
    margin-right: 110px;
    margin-left: 118px;
    margin-bottom: 60px;
  }

  #div8 h5{
    font-family: "Manrope";
    font-size: 20px;
    color: #626868;
    padding-top: 40px;
    margin-left: 130px;
    }

  #div8 img{
    width: 60vw;
    margin-left: 10vw;
  }

  #div8 p{
    font-family: "Manrope";
    font-size: 14px;
    color: #2A2B2A;
    padding: 20px;
  }

  #blackblah {
    display: flex;
  }

  #black1 {
    flex-grow: 1;
    margin-left: 80px;
  }

  #black2 {
    flex-grow: 1;
    margin-right: 80px;
  }

  #whiteblah {
    display: flex;
  }

  #white1 {
    flex-grow: 1;
    margin-left: 80px;
  }

  #white2 {
    flex-grow: 1;
    margin-right: 80px;
    margin-left: 40px;
  }

  #greyblah {
    display: flex;
  }

  #grey1 {
    flex-grow: 1;
    margin-left: 80px;
  }

  #grey2 {
    flex-grow: 1;
    margin-right: 380px;
  }

  #twentyninteen h1{
  font-family: "Cormorant Garamond";
  font-size: 72px;
  color: #626868;
  margin-left: 50px;
}

#meenu{
  margin-left: 90px;
  margin-right: 600px;
  padding-bottom: 20px;
}

#meenu nav{
border-bottom: solid #2A2B2A 1px;
}

#meenu a{
font-family: "Manrope";
font-size: 18px;
color: #626868;
padding: 10px 38px;
text-decoration: none;
}

#bd{
  font-family: "Cormorant Garamond";
  font-size: 30px;
  color: #CB997E;
  margin-left: 55vw;
}

#bigteen{
    display: flex;
  }

  #fall2{
    flex-grow: 1;
  }

  #fall2 p{
    font-family: "Manrope";
    font-size: 18px;
    color: #CB997E;
    writing-mode: vertical-lr;
    margin-left: 60px;
  }

  #box7{
    background-color: #F0EFEB;
    margin-right: 150px;
    margin-left: 90px;
    margin-bottom: 60px;
    }

    #box7 h5{
      font-family: "Manrope";
      font-size: 20px;
      color: #626868;
      padding-top: 40px;
      margin-left: 130px;
    }

    #box7 img{
      width: 55vw;
      margin-left: 10vw;
      padding: 5px;
      margin-bottom: 40px;
    }

    #twentytwenty h1{
      font-family: "Cormorant Garamond";
      font-size: 72px;
      color: #DDBEA9;
      margin-left: 50px;
    }

#mennu{
  margin-left: 90px;
  margin-right: 600px;
  padding-bottom: 20px;
}

#mennu nav{
  border-bottom: solid #626868 1px;
}

#mennu a{
  font-family: "Manrope";
  font-size: 18px;
  color: #626868;
  padding: 10px 38px;
  text-decoration: none;
}

#da1 h3{
  font-family: "Cormorant Garamond";
  font-size: 30px;
  color: #CB997E;
  margin-left: 70vw;
  margin-bottom: 60px;
}


  #dt{
    display: flex
  }

  #link2class{
    flex-grow: 1;
  }

  #link2class p{
    font-family: "Manrope";
    font-size: 18px;
    color: #CB997E;
    writing-mode: vertical-lr;
    margin-left:75px;
    padding: 20px;
  }

  #dtwebsite{
    flex-grow: 1;
    background-color: #CB997E;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
  }

  #DT h4{
    font-family: "Manrope";
    font-size: 24px;
    color: #FFF1E6;
    border: solid #FFF1E6 1px;
    padding: 15px;
    margin-right: 690px;
    margin-left: 85px;
    text-decoration: none;
    text-align: center;
  }

  #DT p{
    font-family: "Manrope";
    font-size: 18px;
    color: #F0EFEB;
    margin-left: 440px;
  }

  #df{
      font-family: "Cormorant Garamond";
      font-size: 30px;
      color: #CB997E;
      margin-left: 57vw;
      margin-bottom: 60px;
    }

    #tt{
      display: flex
    }

    #link2app{
      flex-grow: 1;
    }

    #link2app p{
      font-family: "Manrope";
      font-size: 18px;
      color: #CB997E;
      writing-mode: vertical-lr;
      margin-left:120px;
      padding: 20px;
    }

    #ttapp{
      flex-grow: 1;
      background-color: #CB997E;
      margin-right: 140px;
      padding-top: 20px;
      padding-bottom: 40px;
      margin-bottom: 60px;
    }

    #ttapp h4{
      font-family: "Manrope";
      font-size: 24px;
      color: #FFF1E6;
      border: solid #FFF1E6 1px;
      padding: 15px;
      margin-right: 840px;
      margin-left: 85px;
      text-align: center;
    }

    #ttapp p{
      font-family: "Manrope";
      font-size: 18px;
      color: #F0EFEB;
      margin-left: 440px;
    }

    #df{
        font-family: "Cormorant Garamond";
        font-size: 30px;
        color: #CB997E;
        margin-left: 57vw;
        margin-bottom: 60px;
      }

      #hc{
        display: flex
      }

      #link2hcapp{
        flex-grow: 1;
      }

      #link2hcapp p{
        font-family: "Manrope";
        font-size: 18px;
        color: #CB997E;
        writing-mode: vertical-lr;
        margin-left:120px;
        padding: 20px;
      }

      #hcapp{
        flex-grow: 1;
        background-color: #CB997E;
        margin-right: 100px;
        padding-top: 20px;
        padding-bottom: 40px;
        margin-bottom: 60px;
      }

      #hcapp h4{
        font-family: "Manrope";
        font-size: 24px;
        color: #FFF1E6;
        border: solid #FFF1E6 1px;
        padding: 15px;
        margin-right: 840px;
        margin-left: 85px;
        text-align: center;
      }

      #hcapp p{
        font-family: "Manrope";
        font-size: 18px;
        color: #F0EFEB;
        margin-left: 440px;
      }

      #cc{
        display: flex
      }

      #link2ccapp {
        flex-grow: 1;
      }

      #link2ccapp p{
        font-family: "Manrope";
        font-size: 18px;
        color: #CB997E;
        writing-mode: vertical-lr;
        margin-left:100px;
        padding: 10px;
      }

      #ccapp{
        flex-grow: 1;
        background-color: #CB997E;
        margin-right: 100px;
        padding-top: 20px;
        padding-bottom: 40px;
        margin-bottom: 60px;
      }

      #ccapp h4{
        font-family: "Manrope";
        font-size: 24px;
        color: #FFF1E6;
        border: solid #FFF1E6 1px;
        padding: 15px;
        margin-right: 640px;
        margin-left: 85px;
        text-align: center;
      }

      #ccapp p{
        font-family: "Manrope";
        font-size: 18px;
        color: #F0EFEB;
        margin-left: 440px;
      }

#box8{
  background-color: #EDDCD2;
  margin: 60px 180px;
}

#box8 img{
  width: 40vw;
  margin-left: 15vw;
  padding: 30px;
}

#twentyone h1{
  font-family: "Cormorant Garamond";
  font-size: 72px;
  color: #F0EFEB;
  margin-left: 50px;
}

#cf h3{
  font-family: "Cormorant Garamond";
  font-size: 30px;
  color: #EDDCD2;
  margin-left: 55vw;
  padding-bottom: 20px;
}

#m{
  display: flex;
}

#link2m{
  flex-grow: 1;
}

#link2m p{
  font-family: "Manrope";
  font-size: 18px;
  color: #2A2B2A;
  writing-mode: vertical-rl;
  margin-left: 60px;
}

#mwebsite{
  flex-grow: 1;
  Background-color: #626868;
  margin-right: 120px;
}

#mwebsite h4{
  font-family: "Manrope";
  font-size: 24px;
  color: #FFF1E6;
  border: solid #FFF1E6 1px;
  padding: 10px;
  margin-left: 60px;
  margin-right: 690px;
  text-align: center;
}

#mwebsite p{
  font-family: "Manrope";
  font-size: 18px;
  color: #F0EFEB;
  margin-left: 180px;
}

#da2{
  paddin-top: 60px;
  padding-bottom: 20px;
}

#da2 h3{
  font-family: "Cormorant Garamond";
  font-size: 30px;
  color: #EDDCD2;
  margin-left: 73vw;
}

#da2w{
  display: flex;
}

#link2da2{
  flex-grow: 1;
}

#link2da2 p{
  font-family: "Manrope";
  font-size: 18px;
  color: #2A2B2A;
  writing-mode: vertical-rl;
  margin-left: 60px;
}

#da2website{
  flex-grow: 1;
  Background-color: #626868;
  margin-right: 120px;
  margin-left: 100px;
}

#da2website h4{
  font-family: "Manrope";
  font-size: 24px;
  color: #FFF1E6;
  border: solid #FFF1E6 1px;
  padding: 10px;
  margin-left: 60px;
  margin-right: 690px;
  text-align: center;
}

#da2website p{
  font-family: "Manrope";
  font-size: 18px;
  color: #F0EFEB;
  margin-left: 180px;
}

#ler h3{
  font-family: "Cormorant Garamond";
  font-size: 30px;
  color: #EDDCD2;
  margin-left: 52vw;
  padding-bottom: 20px;
}

#landart{
  display: flex;
}

#linkler{
  flex-grow: 1;
}

#linkler p{
  font-family: "Manrope";
  font-size: 18px;
  color: #2A2B2A;
  writing-mode: vertical-rl;
  margin-left: 60px;
}

#lerwebsite{
  flex-grow: 1;
  Background-color: #626868;
  margin-right: 120px;
  margin-bottom: 120px;
}

#lerwebsite h4{
  font-family: "Manrope";
  font-size: 24px;
  color: #FFF1E6;
  border: solid #FFF1E6 1px;
  padding: 10px;
  margin-left: 60px;
  margin-right: 690px;
  text-align: center;
}

#lerwebsite p{
  font-family: "Manrope";
  font-size: 18px;
  color: #F0EFEB;
  margin-left: 180px;
}
