#tabs{
  display:flex;
  margin: 100px 150px 0 150px;
}

#items{
  display:flex;
  margin:0px 150px 40px 150px;
  padding-top: 60px;
  /* //WHOLE BG COLOR  */
  background-color: rgb(254,197,187);
  border: solid black 1px;
  border-top: none;
}

.day{
  flex-grow: 1;
  background-color: rgb(254,197,187);
  width: auto;
  border: solid black 1px;
}

#image, .weekday{
  flex-grow: 1;
  width: auto;
  max-width: 47%;
}

h2{
  margin-top: 20px;
  margin-left: 38px;
  padding-bottom: 0;
  font-size: 1.2em;
  font-family: "Courgette";
}

.boldtext{
  text-align: center;
  font-family: "Quicksand";
  font-size: 22px;
  height: 3px;
}

.liltext{
  text-align: center;
  font-family: "Quicksand";
  font-size: 14px;
  height: 2px;
}

/* //TEXT IN THE BOX */


/* MONDAY */
#Mondayday{
  margin-bottom: 25px;
  background-color: rgb(250,225,221);
  padding-bottom: 20px;
  display: none;
}

      #date0{
        text-align: center;
        padding: 15px 7px;
        background-color: rgb(236,228,219);
        font-family: "Titan One";
        font-size: 38px;
      }

      #quote0{
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Courgette";
        font-size: 18px;
      }

      #text0{
        border: solid rgb(236,228,219) 6px;
        margin: 5px 40px 15px 40px;
      }

/* TUESDAY */
#Tuesdayday{
  margin-bottom: 25px;
  background-color: rgb(232,232,228);
  display: none;
}

      #date1{
        text-align: center;
        padding: 15px 7px;
        background-color: rgb(254,197,187);
        font-family: "Titan One";
        font-size: 38px;
      }

      #quote1{
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Courgette";
        font-size: 18px;
      }

      #text1{
        border: solid rgb(254,200,154) 6px;
        margin: 5px 40px 15px 40px;
      }

/* WEDNESDAY */
#Wednesdayday{
  margin-bottom: 25px;
  background-color: rgb(255,229,217);
  /* display: none; */
}

      #date2{
        text-align: center;
        padding: 15px 7px;
        background-color: rgb(232,232,228);
        font-family: "Titan One";
        font-size: 36px;
        }

      #quote2{
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Courgette";
        font-size: 18px;
      }

      #text2{
        border: solid rgb(254,197,187) 6px;
        margin: 5px 40px 15px 40px;
      }

/* THURSDAY */
#Thursdayday{
  margin-bottom: 25px;
  background-color: rgb(254,197,187);
  display: none;
}

      #date3{
        text-align: center;
        padding: 15px 7px 0 7px;
        background-color: rgb(255,215,186);
        font-family: "Titan One";
        font-size: 36px;
        }

      #quote3{
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Courgette";
        font-size: 18px;
      }

      #text3{
        border: solid rgb(255,215,186) 6px;
        margin: 5px 40px 15px 40px;
      }

/* FRIDAY */
#Fridayday{
  margin-bottom: 25px;
  background-color: rgb(254,200,154);
  display: none;
}

      #date4{
        text-align: center;
        padding: 15px 7px;
        background-color: rgb(232,232,228);
        font-family: "Titan One";
        font-size: 36px;
        }

      #quote4{
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Courgette";
        font-size: 18px;
      }

      #text4{
        border: solid rgb(216,226,220) 6px;
        margin: 5px 40px 15px 40px;
      }

/* SATURDAY */
#Saturdayday{
  margin-bottom: 25px;
  background-color: rgb(232,232,228);
  display: none;
}

      #date5{
        text-align: center;
        padding: 15px 7px;
        background-color: rgb(216,226,220);
        font-family: "Titan One";
        font-size: 36px;
        }

      #quote5{
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Courgette";
        font-size: 18px;
      }

      #text5{
        border: solid rgb(252,213,206) 6px;
        margin: 5px 40px 15px 40px;
      }

/* SUNDAY */
#Sundayday{
  margin-bottom: 25px;
  background-color: rgb(255,229,217);
  display: none;
}

      #date6{
        text-align: center;
        padding: 15px 7px;
        background-color: rgb(252,213,206);
        font-family: "Titan One";
        font-size: 36px;
        }

      #quote6{
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Courgette";
        font-size: 18px;
      }

      #text6{
        border: solid rgb(252,213,206) 6px;
        margin: 5px 40px 15px 40px;
      }

.active{
  border-bottom: none;
  /* background-color: rgb(236,228,219); */
}

img{
  max-width: 80%;
  max-height: 95%;
  object-fit: cover;
  display: block;
  margin: auto;
}
