body{
  background-color: rgb(236,228,219);
}

#start{
  border: solid rgb(250,225,221) 10px;
  border-radius: 7px;
  background-color: rgb(216,226,220);
  margin: 100px 55px 0 55px;
  padding-bottom: 75px;
  text-align: center;
}

h1, #intro{
  font-family: "Titan One";
  font-size: 58px;
}

h4{
  font-family: "Quicksand";
  font-size: 28px;
}

button{
font-family: "Courgette";
font-size: 30px;
margin-top: 175px;
background-color: rgb(254,197,187);
border: solid rgb(250,225,221) 5px;
border-radius: 10px;
padding: 10px 35px;
}

#tabs{
display: flex;
margin: 25vh 25px 0 25px;
}

#content{
  display: flex;
  margin: 0vh 25px 0 25px;
  padding-top: 80px;
  border: solid rgb(250, 190, 187) 2px;
  border-top: none;
}

.days{
flex-grow: 1;
width: auto;
background-color: rgb(254, 197, 187);
/* border: solid rgb(221, 190, 169) 4px; */
}

#images, .weekday{
  flex-grow: 1;
  width: auto;
  max-width: 50%;
  /* background-color: rgb(254, 197, 187); */
}

h2{
  margin-top: 25px;
  padding-bottom: 0;
  font-size: 1.8em;
}

#dayT, #dayW{
  display:  none;
}

.active{
  background-color: rgb(250,225,221);
   border-bottom: none;
}

img{
  width: 80%;
  max-height: 80%;
  /* Crop it down */
  object-fit: cover;
  /* want to display image in center horizontally */
  display: block;
  margin: auto;
}
