body{
  background-color: #F2EAE4;
  margin: 20px 20px;
}

#header{
  border: solid #F2F2F2 5px;
  background-color: #F2F2F2;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 5px;
}

#name{
  font-family: "Heebo";
  font-size: 64px;
  color: #BFB2A3;
  margin-bottom: 5px;
  margin-left: 15vw;
}

#ken{
  display: flex;
  /* margin-left: 430px;
  margin-right: 180px; */
  margin-top: 5px;
}

#text{
  flex-grow: 1;
  margin-left: 7vw;
}

#school{
  font-family: "Montserrat Alternates";
  font-size: 20px;
  color: #2D3540;
}

.degree{
  font-family: "Montserrat Alternates";
  font-size: 18px;
  color: #2D3540;
}

#photo img{
  flex-grow: 1;
  width: 25vw;
  margin-left: 80px;
  margin-right: 90px;
  background-color: #D9D2CC;
  padding: 30px 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}

#button1{
  background-color: #D9D2CC;
  border: solid #D9D2CC 3px;
  box-shadow: 5px 5px 8px #D9D2CC, 5px 5px 8px #A69C94, 5px 5px 8px #F2A0D5;
  font-family: "Source Sans Pro";
  font-size: 24px;
  color: ##262626;
  margin-top: 300px;
  margin-left: 320px;
}

#menu{
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid #D9A443 3px;
  margin-right: 500px;
}

#kendrahome{
  font-family: "Heebo";
  font-size: 24px;
  color: #D9A443;
}

nav{
  margin-left: 3vw;
  margin-top: 38px;
}

nav a{
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: bolder;
  padding: 5px 10px;
  color: #D9A443;
}
