body{
  font-family: arial;
  font-size: 2vw;
  /* border: solid rgb(100,100,100) 1px; */
}
p{
  color: rgb(100,100,100);
}
h1{
  border:solid rgb(10,10,10) 1px;
  background-color: rgb(100,100,200);
  font-family: "Oswald"; 
}

h3{
  background-color: rgb(200,70,70);
  margin-right: 175px;
}

#second{
  font-weight: bold;
}

.grey{
  color:rgb(200,200,100);
}

.background{
  background-color:rgb(225,120,120);
}

span{
  color:rgb(130,130,240);
  font-weight: bold;
}

#sit{
   font-family: cursive;
}

hr{
  border:dashed rgb(100,50,200) 2px;
}

#dotted{
    border:dotted rgb(190,220,90) 2px;
}

#dashed{
    border:dashed rgb(210,220,80) 2px;
}

#solid{
    border:solid rgb(90,200,190) 2px;
}

#double{
    border:double rgb(110,220,180) 2px;
}

#ridge{
    border:ridge rgb(220,220,120) 2px;
}

#groove{
    border:groove rgb(10,220,220) 2px;
}

#two{
  border: solid black 1px;
  background-color: rgb(200,220,190);
  margin: 50px;
  padding: 150px;
}

#three{
  border: solid black 1px;
  background-color: rgb(90,220,200);
  padding-left: 4vw;
  padding-top: 10vh;
  margin-right: 5vw;
}

#fourth{
  border: solid black 1px;
  background-color: rgb(210,120,220);
  padding: 30px 0px 30px 0px;
  margin: 30px 0px 30px 0px;
}
